*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "Cera Round";
    src: url(/fonts/CeraMedium.otf);
}


body{
    background-color: rgb(239, 221, 221);
}

.main-box{
    width: 100%;
    height: auto;
    background-color: rgb(134, 16, 69)
    
}

.head{
    display:flex;
    align-items: center;
    background-color: beige;
    padding: 15px;
}


.head p i{
    font-size: 32px;
    color: rgb(82, 82, 250);
}

h2{
    margin-left: auto;
    color: rgb(82, 82, 250);
    font-family: "Cera Round", Cochin, Georgia, serif;
}

.content{
    padding: 15px;
    
    font-family: "Cera Round", "Segoe UI";
    font-weight: 200;
    
}

.content p{
    text-align: justify;
    font-size: 12px;
}